a {
  text-decoration: none;
  color: rgb(27, 149, 224);
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Shows the URL */
a:hover::after,
a:focus::after {
  position: absolute;
  z-index: 10000;
  left: 0;
  bottom: 0;
  content: attr(href);
  color: rgb(68, 68, 68);
  background: rgb(249, 249, 250);
  border: 1px solid rgb(227, 227, 227);
  padding: 4px;
  font-size: 0.8em;
}
