.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: rgb(27, 149, 224);
  outline: none !important;
  font-size: unset;
}

.link-button:hover,
.link-button:focus {
  text-decoration: underline;
}
