.MessagesPage-conversationList {
  display: flex;
  flex-direction: column;
}

.MessagesPage-conversationList > button {
  background: none;
  color: #fff;
  border: 1px rgb(56, 68, 77) solid;
  margin-top: -1px;
  padding: 1em;
  text-align: left;
  outline: none !important;
}

.MessagesPage-conversationList > button:hover {
  background: rgb(29, 39, 52);
}

.MessagesPage-conversationView {
  display: flex;
  flex-direction: column;
}

.MessagesPage-message {
  padding: 0.5em;
  border-radius: 0 1em 1em 0;
  align-self: flex-start;
  text-align: left;
  background: rgb(61, 84, 102);
  margin: 2px 0;
  max-width: 75%;
}

.MessagesPage-message[data-isself="true"] {
  align-self: flex-end;
  border-radius: 1em 0 0 1em;
  background: rgb(29, 161, 242);
}

/* My messages followed by their messages or convo start */
:not([data-isself="false"]) + .MessagesPage-message[data-isself="false"],
.MessagesPage-message[data-isself="false"]:first-child {
  margin-top: 1em;
  border-top-left-radius: 1em;
}

/* Their messages that are followed by my messages or the convo start */
:not([data-isself="true"]) + .MessagesPage-message[data-isself="true"],
.MessagesPage-message[data-isself="true"]:first-child {
  margin-top: 1em;
  border-top-right-radius: 1em;
}

.MessagesPage-message > p {
  white-space: pre-line;
  margin: 0;
}

.MessagesPage-messageDate {
  font-size: 0.75em;
  color: rgb(207, 207, 207);
}

.MessagesPage-message[data-isself="true"] > .MessagesPage-messageDate {
  text-align: right;
  width: 100%;
}

.MessagesPage-divider {
  border: none;
  border-top: 1px dashed rgb(86, 90, 100);
  color: rgb(124, 129, 143);
  font-size: 0.75em;
  width: 90%;
  text-align: center;
}

.MessagesPage-divider:before {
  content: attr(data-display);
}
