.MessagesPage-conversationList {
  display: flex;
  flex-direction: column;
}

.MessagesPage-conversationList > button {
  background: none;
  color: #fff;
  border: 1px rgb(56, 68, 77) solid;
  margin-bottom: -1px;
  padding: 1.5em;
  text-align: left;
  outline: none !important;
  display: flex;
  justify-content: space-between;
}

.MessagesPage-conversationListDate {
  color: rgb(207, 207, 207);
}

.MessagesPage-conversationList > button:hover {
  background: rgb(29, 39, 52);
}

.MessagesPage-conversationView {
  display: flex;
  flex-direction: column;
}

.MessagesPage-divider {
  border: none;
  border-top: 1px dashed rgb(86, 90, 100);
  color: rgb(124, 129, 143);
  font-size: 0.75em;
  width: 90%;
  text-align: center;
}

.MessagesPage-divider:before {
  content: attr(data-display);
}
